body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat";
}

.container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
}

.crystal {
    width: 30%;
    background: steelblue;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
}

h1 {
    text-align: center;
    line-height: 1.1;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
}

#title {
    font-size: 200%;
}

#topstripe {
    background: white;
    height: auto;
    text-align: center;
    color: black;
    padding: 1px 0;
}

#bottomstripe {
    background: steelblue;
    height: auto;
    text-align: center;
    color: black;
    padding: 10px 0;
}

#targetscore {
    color: white;
}

#totalscore {
    color: white;
}

/* #message {
    display: inline-block;
    width: 20%;
} */

#wins {
    color: white;
}

#losses {
    color: white;
}

#reset {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: white;
    font-weight: 700;
    font-size: inherit;
    letter-spacing: 1px;
    transition: all 0.3s;
    outline: none;
}

/* button:hover {
    color: white;
    background: steelblue;
} */